extends layout

block content
  h1= formTitle
  if errors
    ul.error
      each error in errors
        li= error
  form(action='#{formAction}', method='post', enctype='multipart/form-data')
    label(for='title') Title:
    select#title(name='title')
      - titles = ['', 'Mr.', 'Mrs.', 'Mr. & Mrs.', 'Miss', 'Ms.', 'Dr. and Mrs.', 'Mr. and Dr.']
      each item in titles
        option(selected=title == item, value='#{item}') #{item}
    br
    label(for='firstName') First Name:
    input#firstName(type='text', name='firstName', value='#{firstName}')
    br
    label(for='middleInit') MI:
    input#middleInit(type='text', name='middleInit', value='#{middleInit}')
    br
    label(for='lastName') Last Name:
    input#lastName(type='text', name='lastName', value='#{lastName}')
    br
    label(for='notes') Notes:
    textarea#notes(name='notes') #{notes}
    br
    a#addEmail(href='#') (+)
    | Emails:
    br
    ul#emailList
      each email in emails
        li
          input(type='text', name='emails[]', value='#{email}')
          a.removeEmail(href='#') (-)
    br
    a#addPhone(href='#') (+)
    | Phones:
    br
    - phoneTypes = ['', 'Work', 'Home', 'Mobile', 'Fax']
    ul#phoneList
      if phones
        each phone in phones
          li
            input(type='text', name='phoneNum[]', value='#{phone.phoneNum}')
            select(name='phoneType[]')
              each item in phoneTypes
                option(selected=phone.phoneType == item, value='#{item}') #{item}
            a.removePhone(href='#') (-)
    br
    if avatar
      img(src='/uploads/avatars/#{avatar}', width='120', alt='avatar image')
      br
    if firstName
      label(for='avatar') Avatar:
      input#avatar(type='file', name='avatar', accept='image/*')
      br
    br
    input(type='submit', value='Save')
    h3 Agent Properties
    if properties && properties.length
      table.tabletest2
        thead
          tr
            th Area
            th Street Address
            th
        tbody
          each row in properties
            tr
              td= row.area
              td= row.streetAddr
              td
                a(href='/property/update/#{row._id}') View
    else
      p No properties found.

  script(src='/javascripts/scripts.js', type='text/javascript')
