extends layout

block content
  h1 Property List
  p
    a(href='/property') New Property
  if rows && rows.length
    table.tabletest2
      thead
        tr
          th Area
          th Street Address
          th Owner
          th Agent
          th(colspan='2')
      tbody
        each row in rows
          tr
            td= row.area
            td= row.streetAddr
            td
              if row._owner
                a(href='/owner/update/#{row._owner._id}') #{row._owner.firstName} #{row._owner.lastName}
            td
              if row._agent
                a(href='/agent/update/#{row._agent._id}') #{row._agent.firstName} #{row._agent.lastName}
            td
              a(href='/property/update/#{row._id}') Edit
            td
              a(id='lnkDelete_#{row._id}', href='/property/delete/#{row._id}') Delete
    script.
      $(function () {
        $('a[id^="lnkDelete_"]').bind('click', function (e) {
          if (!confirm('Are you sure you want to remove this property and all associated data?')) {
            e.preventDefault();
          }
        });
      })
  else
    h4 No properties found.

